.featured {
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  overflow: hidden;
}

.featuredImg {
  height: 300px;
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.featuredTitles {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
