.navbar {
    height: 50px;
    background-color: #053B50;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 1200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: larger;
    font-weight: 600;
}

.navButton {
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
}